*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:whitesmoke;  
  position: relative;
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  margin-top:auto ;
}
.logo{
  margin: 20px;
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  align-items: center;
}
.logo p{
max-width: 100px;
text-align: center;
font-size: 1.3em;
}
.logo img{
  max-width:60%;
  max-height: 60%;
}
.logo p span{
  background-color: #272a2a;
  color: aliceblue;
  border-radius: 50%;
width: 40px;
  display: inline-block;

  max-width: 50px;

}
footer{
  margin-bottom: 40px;
  padding: 10px;
  width: 100%;
  max-height: 5vh;
  background-color: #272a2a;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  align-items: center;
}
#produced{
  max-width: 100%;
  max-height: 90%;
}
#produced p{
  max-height: 90%;  
}
#social-media{
  max-width: 50%;
  max-height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#gmail{
  max-width: 4%;
  max-height: 60%;
  background-color: aliceblue;
}
#social-media a{
  max-width: 100%;
  max-height:100%;

 
}
#social-media a img{
  max-width:30px;
  background-color: aliceblue;
}

#user-interface{
  min-width: 100%;
  min-height: 100%;


}

.login-container{
  width: 100%;
  background-image: url('./img/login.jpg');
  min-height: 100vh;
  background-size: cover;
  display: flex;
}

.login-card{
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  max-width: 50%;
  max-height: 50vh;
  align-self: center;
  justify-content: space-between;
  border: 2px rgb(195, 189, 189) solid;
  border-radius: 5px;
  background-color: rgb(215, 213, 208);
  box-shadow: 20px 20px 50px gray;
  padding: 20px;
  
}
.login-card h1{
margin:15px auto ;
padding: 10px auto;
font-size:1.8em;
text-align: center;
}
.login-card p{
  margin:10px auto ;
  padding: 10px auto; 
  text-align: center;
  font-size: 1.5em;

}

.login-card #user-name{
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom:3px black solid ;
  max-width: 50%;
  min-height:20%;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  font-family: 'Cairo', sans-serif;
}
.login-card #confirm-btn{
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
  max-width:40% ;
  max-height: 25%;
  border-radius: 5px;
  font-size:1.5em;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
 transition: 1s;
}
.login-card #confirm-btn:hover{
  background-color: black;
  color: aliceblue;

}

/*media queri */
@media (min-width:250px) and (max-width:600px){



  .logo{
    align-self: center;
    background-color: aliceblue;
    border-radius: 50%;
    max-width: 90px;
    max-height: 100px;
    font-size: 10px;
  }
  .logo img{
    max-width:70%;
    max-height: 70%;
  }
  .logo p span{
    background-color: #272a2a;
    color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    max-width: 10px;
  }
  #user-interface{
    min-height: 100%;
    min-width: 100%;
  }
  .login-card{
    min-width: 90%;
    font-size: 0.7em;
    max-height: 40vh;
  }
  .login-card #user-name{
  padding: 20px;
  width: 80%;
  }
  .login-container{
    min-width: 100%;
  }
  footer{
    min-height: 20vh;
    min-width: 100%;
    margin-bottom: 0;
    font-size: smaller;
    display: flex;
    flex-direction: column;
  }
  #social-media{
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
  #gmail{
    display: none;
  }

}
 
/* welcom page */

 .welcome{

  display: grid;
  grid-template-columns: repeat(12,1fr);
  font-family: 'Cairo', sans-serif;
  max-width: 100%;
  gap :20px;
  min-height: 100vh;
  background-image: url('./img/background.jpeg');
  background-size:contain;
}
#welcome-message{
 grid-row: 2/5;
 grid-column: 2/7;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 30px 0;
  padding:  20px;
  margin-right: 20px;
  margin-left: -20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
  max-width: 80%;
  max-height: 90%;
}
#welcome-message h2{
  margin-left: 30px;
  font-size: 1.8em;

}
#welcome-message p{
  margin: 10px auto;
  font-size: 1.5em;
  padding: 10px 20px;
}
#feeling-selector{
  margin-left: 30px;
  grid-row:4/6;
  grid-column:8/13;
  max-width:100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 0 30px;
  padding: auto 20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
  width: 80%;
  max-height: 90%;
 

}
#feeling-selector h2{
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.8em;

}
#feeling-selector span{
  padding: 10px 20px;
  font-size: 1.6em;
}
#feeling-selector select{

  margin: 50px ;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 10px;
  font-size: 1.6em;
  max-width: 80%;
  font-family: 'Cairo', sans-serif;

}
.selection{
  margin: 40px auto;
  padding: 40px auto;
  grid-column: span 12 ;
  grid-row: 8/12;
  display: flex;
  justify-content: center;
  max-height: 50%;
 
}
#select-value{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width :300px;
  border-radius: 5px;
}
#select-value img{
  width: 100%;
  border-radius: 5px;
  
 
}
#select-value p{
  text-align: center;
  cursor: pointer;
  width:50%;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px ;
  padding: 20px;
  margin-right: 20px;
  margin-left: -20px;
  transition: 1s;
  font-size: 1.3em;
}
#select-value p:hover{
  background-color: black;
  color: aliceblue;
}
/*media query */
@media (min-width:700px) and (max-width:1080px){
  #welcome-message {
    min-height: 20vh;
    font-size: smaller;
    grid-column: 2/8;
    grid-row: 2/5;
    min-width: 90%;
  }
  #feeling-selector{
    max-height: 20vh;
    font-size: smaller;
    grid-row:3/5 ;
    max-width:90%;

  }
  #feeling-selector select{
    min-width: 100%;
    margin:30px 0 3px 0;
  }
}
@media (min-width:250px) and (max-width:700px){
  #welcome-message {
    margin: 20px auto;
    min-width: 90%;
    max-height: 30vh;
    font-size: smaller;
    grid-column: 2/13;
    grid-row: 5/6;
    font-size: 0.5em;
  }
  #feeling-selector{
    max-height: 25vh;
    font-size: smaller;
    grid-row:6/8 ;
    min-width:80%;
    grid-column: 2/13;

  }
  #feeling-selector select{
    min-width: 100%;
    margin:30px 0 3px 0;
  }
  .selection{
    max-height: 30vh;
  }
  .selection img{
    max-width: 70%;
  }
}



/* weather and news style*/
.container{
background-color: whitesmoke;
font-family: 'Cormorant SC', serif;

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12 ,1fr);

}
.weather-container{
  grid-column: span 12;
  color: aliceblue;
  display: flex;
  max-width: 40%;
  height: 10vh;
  justify-content: space-around;
  margin:20px 20px;
  background-color:#272a2a;
  align-items: center;
  border-radius: 10px;
}
.weather-location{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.weather-location img{
max-width: 30%;
}
.weather-location h1{
  margin: 10px auto;
  font-size: 1.5em;
}
#degree{
  font-size: 1.5em;
}
.status h1{
  font-size: 1.5em;
}
.button-section{
  position: absolute;
  top :30px;
  width:20%;
  right:100px;

}

#back-btn{
  background-color: white;
   max-width: 20%;
  padding: 5px;
  margin: 5px ;
 cursor: pointer;
  border-radius: 5px;
  border-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.search-artical{
  grid-column: span 12;
 max-width: 60%;
 margin: 20px auto;
 display: flex;
 justify-content: center;
}
.search-artical input{
  padding: 10px;
  width: 70%;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(58, 48, 48);
  border-radius: 5px ;
  font-family: 'Cormorant SC', serif;
  margin-left: 100px;
}
.artical-section{
  grid-column: span 12;
max-width: 100%;
height: 100%;
margin: 10px auto;


}
.artical-section h1{
  padding: 10px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
 border-top: 2px black solid;
 border-bottom: 3px double black;
}
 #artical-card-container{
   max-width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns:repeat(12, 1fr);

  gap :10px;
 
}

.card{
  margin: 10px ;
  border-bottom: 2px solid black;
  background-color: white;
  max-height: 100%;
}


.card:nth-child(odd){
  grid-column:1/8;

}
.card:nth-child(odd) .card-body{ 
  display: flex;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
}
.card:nth-child(odd) .card-body img{
  align-self: center;
  width: 50%;
  max-height: 100%;

}
.card:nth-child(odd) .card-body h2{
  font-size: 1.8em;
  margin-left: 10px;
  padding: 10px;

}
.card:nth-child(odd) .card-body p{
  font-size: 1.5em;
  margin-left: 10px;
  padding: 5px;
}
 .card-body a{
  font-size: 1.3em;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;

}
.card:nth-child(even) {
grid-column:8/13 ;
border-left: #272a2a solid 2px;
max-height: 100%;
}
.card:nth-child(even) .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card:nth-child(even) img{
  max-width: 40%;
  margin: 1px auto;
}
.card:nth-child(even) h2{
font-size: 1.5em;
padding: 5px;
margin: 3px auto;
}
.card:nth-child(even) p{
  font-size: 1.3em;
  margin: 10px auto;
  padding: 5px;

}
#copyright{
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
/*media query */
@media (min-width:250px) and (max-width: 980px){
  .container{
    margin-top: 100px;
    min-width: 100%;
  }
  .weather-container{
    grid-row:2/3;
    min-width: 100%;
    font-size: smaller;
  }
  .search-artical{
    grid-row: 3/4;
    min-width: 100%;
    align-self: center;
  }
  .search-artical input{
    min-width: 100%;
  }
  .artical-section{
    grid-row: 4/5;
  }
  .artical-section h1{
    font-size: smaller;
  }
  .card:nth-child(odd){
    grid-column: span 12;
   
  
  }
  .card-body{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card:nth-child(odd) .card-body{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: smaller;
    justify-content: center;


  }
  .card:nth-child(odd) .card-body img{
    max-width:50%;
  }
  .card:nth-child(odd) .card-body h2{
    font-size: small;
  }
  .card:nth-child(odd) .card-body p{
    font-size: small;
  }
  .card:nth-child(odd) .card-body a{
    font-size: small;
  }
  .card:nth-child(even){
    grid-column: span 12;
    height: 100%;
    min-width: 100%;
    justify-content: center;

  }
  .card:nth-child(even) .card-body img{
    min-width: 50%;

  }
  .card:nth-child(even) .card-body h2{
    font-size: smaller;
  }
  .card:nth-child(even) .card-body p{
    font-size: smaller;
  }
  .card:nth-child(even) .card-body a{
    font-size: smaller;
  }
  .button-section{
    left: 10px;
    top :5px;
  }
  #back-btn{
    min-width: 50%;
    
  }
}
/* joke page */
.container-jokes{
  height: 100vh;
  background-image:url('./img/backgroundJoke.jpeg');
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);

}
#sirra-joke{
grid-row: 2/5;
 grid-column: 2/5;
 width: 100%;
 height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 30px 0;
  padding: 20px;
  margin-right: 20px;
  margin-left: -20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
}

#sirra-joke p{
  margin: 20px auto;
  font-size: 1.5em;

}
#monitor-joke-container{
  grid-column: 5/9;
  grid-row: 5/10;
  width: 100%;
  height: 100%;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border-radius: 30px 30px 30px 30px;
   padding: 20px;
   margin-right: 20px;
   margin-left: -20px;
   background-color: #272a2a;

}
#monitor-joke-container p{
 z-index: 9;
  margin: 20px;
  font-size: 2em;
  color: aquamarine;
}
#random-btn-container{
  grid-column: 3/11;
  grid-row :11/12;
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;

}
#random-btn-container p{
  margin: 10px auto;
  background-color: aliceblue;;
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
 
  border-radius: 5px;
  font-size:1.7em;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
 transition: 1s;
}
#random-btn-container p:hover{
  background-color: black;
  color: aliceblue;

}
/* media query */
@media (min-width:250px) and (max-width:1100px) {
  #sirra-joke{
    grid-column: 2/12;
    grid-row: 3/6;
   
    
  }
  #sirra-joke p{
    font-size: smaller;
  }
  #monitor-joke-container{
    grid-column:3/12 ;
    grid-row: 6/11;
  }
  #monitor-joke-container p{
    font-size: smaller;
  }
  #random-btn-container{
    grid-column: 1/12;
    max-height: 20vh;
    min-width: 100%;
    justify-content: space-between;
  }
  #random-btn-container p{
    font-size: smaller;
    margin: 10px;
    min-width: 50%;
  }
}
/*sport page */
.football-container{
  height: 100%;
  width: 100%;
  display: grid ;
  grid-template-columns: repeat(12 ,1fr);
  gap: 30px;
  background-image: url('./img/footballBG.jpeg');
  background-size: contain;
}
.football-container h1 {
  margin-top: 20px;
  grid-column: span 12;
  text-align: center;
  color: rgb(153, 223, 12);
  background-image:linear-gradient(to left ,blue, rgb(144, 137, 137));
  font-size: 1.8em;
  padding: 10px;



}
.match-container{
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12 ,1fr);
  gap:10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
  max-width: 100%;
  max-height: 100%;
  margin: 40px;

}
.match-container h3{
  grid-column: span 12;
  text-align: center;
  font-size: 1.5em;

}
#teame-title{
  display: flex;
  grid-column: span 12;
  justify-content: space-around;
 align-items: center;
  max-width: 100%;
}
#teame-title p{
max-height:30% ;
padding: 10px;
background-color: #272a2a;
font-size: 1.5em;
color: aliceblue;
border-radius: 5px;
}
#teame-title img{
max-width: 20%;
}
#team-detail{
  grid-column: span 12;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 1.5em;

}
/* media query */
@media  (max-width:1080px) {

  #teame-title p{
    background-color:inherit;
    color: #272a2a;
    font-size: small;
  }
  .match-container{
    font-size: smaller;
  }
  .match-container h3{
    font-size: small;
  }
  #team-detail{
    font-size: small;
  }
}
@media  (max-width:700px) {

  #teame-title p{
 
    font-size: smaller;
  }
  .match-container{
    font-size: smaller;
  }
  .match-container h3{
    font-size: smaller;
  }
  #team-detail{
    font-size: smaller;
  }
}
@media  (max-width:600px) {
  .match-container{
    grid-column: span 12;
    max-height: 30vh;
  }

  #teame-title p{
    background-color:inherit;
    color: #272a2a;
    font-size: small;
  }
  .match-container{
    font-size: smaller;
  }
  .match-container h3{
    font-size: small;
  }
  #team-detail{
    font-size: small;
  }
}
/*error page*/
.error-container{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.error-container h1{
  margin-top: 100px;
  font-size: 1.5em;
  max-width: 80%;
  color: red;
}
.error-container img{
  max-width: 80%;
}
