*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:whitesmoke;  
  font-family:'Courier New', Courier, monospace;

}
#user-interface{

  display: flex;
  max-width: 100%;
   height: 100vh;
  flex-direction: column;
  background-image: url('./img/background.jpeg');

  background-size:contain;

}
.login-container{
  background-image: url('./img/login.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
}

.login-card{
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  max-width: 50%;
  max-height: 50vh;
  align-self: center;
  justify-content: space-between;
  border: 2px rgb(195, 189, 189) solid;
  border-radius: 5px;
  background-color: rgb(215, 213, 208);
  box-shadow: 20px 20px 50px gray;
  padding: 20px;
  
}
.login-card h1{
margin:15px auto ;
padding: 10px auto;
font-size:1.8em;
text-align: center;
}
.login-card p{
  margin:10px auto ;
  padding: 10px auto; 
  text-align: center;
  font-size: 1.5em;

}

.login-card #user-name{
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-bottom:3px black solid ;
  max-width: 50%;
  min-height:20%;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.login-card #confirm-btn{
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
  max-width:40% ;
  max-height: 25%;
  border-radius: 5px;
  font-size:1.5em;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
 transition: 1s;
}
.login-card #confirm-btn:hover{
  background-color: black;
  color: aliceblue;

}
/* welcom page */

 .welcome{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
  max-height: 50vh;
  max-width: 100%;
  gap :20px;
  
}
#welcome-message{
 grid-row: 2/10;
 grid-column: 2/7;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 30px 0;
  padding: 20px;
  margin-right: 20px;
  margin-left: -20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
}
#welcome-message h2{
  margin-left: 30px;
  font-size: 1.8em;
}
#welcome-message p{
  margin: 20px auto;
  font-size: 1.5em;

}
#feeling-selector{
  margin-left: 30px;
  grid-row:6/13;
  grid-column:7/12;
  max-width:100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 0 30px;
  padding: 20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);

}
#feeling-selector h2{
  margin-left: 30px;
  font-size: 1.8em;
}
#feeling-selector span{

  font-size: 1.6em;
}
#feeling-selector select{
  padding: 5px;
  margin: 10px auto;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 10px;
  font-size: 1.6em;
  max-width: 80%;
 font-family: 'Courier New', Courier, monospace;

}
.selection{

  display: flex;
  justify-content: center;
}
#select-value{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  border-radius: 5px;
}
#select-value img{
margin-top: 50px;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
 
}
#select-value p{
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px ;
  padding: 20px;
  margin-right: 20px;
  margin-left: -20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
}


/* weather and news style*/
.container{
background-color: whitesmoke;
font-family:Georgia, 'Times New Roman', Times, serif
}
.weather-container{
  color: aliceblue;
  display: flex;
  max-width: 60%;
  height: 10vh;
  justify-content: space-around;
  margin:20px 20px;
  background-color:#272a2a;
  align-items: center;
  border-radius: 10px;
}
.weather-location{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-location img{
width: 30%;
}
.weather-location h1{
  margin: 10px auto;
}
#degree{
  font-size: 30px;
}
.button-section{
  margin: 40px 20px;
  position: fixed;
  align-self: flex-end;
  justify-self: start;
  width:40%;
  display: flex;
  justify-content: end;

}
#back-btn{
  padding: 10px;
  margin: 5px ;
  height: 100%;
  font-size: 1.5em;
  border-radius: 5px;
  border-bottom: 20px;
  background-image: linear-gradient(white ,gray);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.search-artical{
  width: 100%;
  display: flex;
justify-content: end;
  margin: 20px 20px;
  align-items: center;
}
.search-artical h3{
  font-size: 30px;
  margin-right: 20px;
}
.search-artical input{
  padding: 10px;
  margin-right: 40px;
  width: 30%;
  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(58, 48, 48);
  border-radius: 20px ;

}
.artical-section{
max-width: 100%;
height: 100vh;

}
.artical-section h1{
  padding: 10px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
 border-top: 2px black solid;
 border-bottom: 3px double black;
}
 #artical-card-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  gap :20px;
}

.card{

  grid-column: span 4;
 margin: 20px;
  padding: 20px;
  border-bottom: 3px solid black;
  border-right: 1px solid rgb(175, 171, 171);
  overflow: hidden;
}
.card-body{
  display: flex;
  height: 100%;
  justify-content: space-between;

}
.card-body img{
  min-width: 50%;
  max-height: 100%;
}
.card-body h2{
  font-size: 1.5em;
  margin-left: 10px;
  padding: 10px;
}
.card-body p{
  font-size: 1.3em;
  margin-left: 10px;
  padding: 10px;
}
.card-body a{
  font-size: 1.3em;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;

}
.card:nth-child(1){ 

 
  grid-column:span 8;
}
.card:nth-child(1) .card-body{
  display: flex;
align-items: center;
height: 100%;
}
.card:nth-child(1) .card-body h1{
width: 50%;

}
.card:nth-child(1) .card-body p{
 

}

.card:nth-child(1) .card-body a{
 

}


.card:nth-child(1) .card-body img{
min-width: 50%;
max-height: 100%;
}
#copyright{
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
/* joke page */
.container-jokes{
  height: 100vh;
  background-image:url('./img/backgroundJoke.jpeg');
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);

}
#sirra-joke{
grid-row: 2/5;
 grid-column: 2/5;
 width: 100%;
 height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px 30px 30px 0;
  padding: 20px;
  margin-right: 20px;
  margin-left: -20px;
  background-image: linear-gradient(rgb(206, 200, 200) , white);
}

#sirra-joke p{
  margin: 20px auto;
  font-size: 1.5em;

}
#monitor-joke-container{
  grid-column: 5/9;
  grid-row: 5/10;
  width: 100%;
  height: 100%;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border-radius: 30px 30px 30px 30px;
   padding: 20px;
   margin-right: 20px;
   margin-left: -20px;
   background-color: #272a2a;

}
#monitor-joke-container p{
 z-index: 9;
  margin: 20px;
  font-size: 2em;
  color: aquamarine;
}
#random-btn-container{
  grid-column: 3/11;
  grid-row :11/12;
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;

}
#random-btn-container p{
  margin: 10px auto;
  background-color: aliceblue;;
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
 
  border-radius: 5px;
  font-size:1.8em;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
 transition: 1s;
}
#random-btn-container p:hover{
  background-color: black;
  color: aliceblue;

}

